<?xml version="1.0"?>
<configuration>
  <appSettings>

    <add key="TradingDBConnectionString" value="Server=staging-secondary-trading-cluster.cluster-ro-chhjnxvrvlxy.us-east-1.rds.amazonaws.com;Database=secondarytrading;Uid=secondarytrading;Pwd=WgDWB4K2nJLz3CB;"/>

    <add key="OrdersDBConnectionString" value="Server=staging-secondary-order-cluster.cluster-chhjnxvrvlxy.us-east-1.rds.amazonaws.com;Database=secondaryorder;Uid=secondaryorder;Pwd=fu2Frcdwcn3CwSs;"/>

    <add key="KCXURL" value="http://134.209.125.58:3000"></add>

    <add key="TransferServiceURL" value="http://localhost:29400/"></add>
    
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
