<?xml version="1.0"?>
<configuration>
  <appSettings>

    <add key="OnSellServiceURL" value="http://localhost:29300/"></add>

    <!--<add key="SellShareholderId" value="2"></add>--><!-- Firm=fmosca_firm mapped to D.Smith-->

    <add key="SellShareholderId" value="3"></add><!-- Firm=aaroyo mapped to John Q-->

    <add key="SecurityId" value="3"></add> <!--Mapped to Banana Corp.-->

    <add key="OrderQty" value="5"></add>
    
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
</configuration>
