<?xml version="1.0"?>
<configuration>
  <appSettings>

    <add key="ApplicationName" value="Solidus Application Approval Service"></add>
    
    <!--STAGING-->
    <add key="TradingDBConnectionString" value="Server=staging-secondary-trading-cluster.cluster-ro-chhjnxvrvlxy.us-east-1.rds.amazonaws.com;Database=secondarytrading;Uid=secondarytrading;Pwd=WgDWB4K2nJLz3CB;"/>
    <add key="OrdersDBConnectionString" value="Server=staging-secondary-order-cluster.cluster-chhjnxvrvlxy.us-east-1.rds.amazonaws.com;Database=secondaryorder;Uid=secondaryorder;Pwd=fu2Frcdwcn3CwSs;"/>

    <add key="ApplicationApprovalServiceURL" value="http://localhost:28902/"></add>

    <add key="DebugLevel" value="INFO"></add>

    <add key="PlaidTestEnv" value="true"></add>
    <!--INFO,DEBUG-->

  </appSettings>
   
</configuration>
