<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="url" value="https://sandbox.plaid.com"/><!--Sandbox test environment-->
    
    <add key="client_id" value="5fe1f1f4354a870014623a6f"/>
    <add key="secret" value="ca0825d4462b7e3fa3499b43ceb941"/>
    
    <!--
    <add key="client_name" value="Plaid POC"/>
    <add key="client_user_id" value="custom_rialto"/>
    <add key="products" value="auth"/>
    <add key="country_codes" value="GB"/>
    <add key="language" value="en"/>
    <add key="webhook" value="https://sample-web-hook.com"/>-->
    
    
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
