<?xml version="1.0"?>
<configuration>
  <appSettings>

    <!--STAGING-->
    <add key="TradingDBConnectionString" value="Server=staging-secondary-trading-cluster.cluster-ro-chhjnxvrvlxy.us-east-1.rds.amazonaws.com;Database=secondarytrading;Uid=secondarytrading;Pwd=WgDWB4K2nJLz3CB;"/>
    <add key="OrdersDBConnectionString" value="Server=staging-secondary-order-cluster.cluster-chhjnxvrvlxy.us-east-1.rds.amazonaws.com;Database=secondaryorder;Uid=secondaryorder;Pwd=fu2Frcdwcn3CwSs;"/>

    <add key="KCXURL" value="http://134.209.125.58:3000"></add>

    <add key="KCXKeyAndIVPath" value="./KCXKeys/AESKey.txt"></add>

    <add key="SolidusURL" value=""></add>

    <add key="OnboardingServiceURL" value="http://localhost:28900/"></add>

    <add key="DebugLevel" value="INFO"></add>
    <!--INFO,DEBUG-->

  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
</configuration>
