<?xml version="1.0"?>
<configuration>
  <appSettings>

    <add key="BaseURL" value="http://localhost:28901"></add>

    <add key="UserIdentifier" value="fermosca82@yahoo.com.ar"></add>
    <add key="PlaidAccessToken" value="xxxxx"></add>
    <add key="PlaidItemId" value="yyyy"></add>


  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
</configuration>
