<?xml version="1.0"?>
<configuration>
  <appSettings>

    <add key="BaseURL" value="http://localhost:29400"></add>
    <!--Mock-->
    <!--<add key="BaseURL" value="http://134.209.125.58:3000"></add>-->
    <!--KCX-->
    <!--<add key="BaseURL" value="http://70.37.85.42:29400"></add>-->


    <add key="KoreATSId" value="ae55cb322ceb3afee59d3ddc8387c7fd5f9be23aff261469252f270b08a93977"></add>


    <add key="KoreSellerShareholderId" value="add282c84aee684115bc4bc0cfb6f0a413b02babdf40e946d32d3d0c69bb8a5a"></add>
    <!--D Smith-->
    
    
    <add key="KoreBuyerShareholderId" value="3cce0c5facd798adef0182c2e5d5149663e0f14c8dfc759554c50d0aaf1b4e84"></add>
    <!--JohnQ-->

    <!--<add key="KoreBuyerShareholderId" value="be566729c0eb2243ea5a1b6b2fce392d7eab73c8ed4bd9cddd9b00e81a963ad7"></add>-->
    <!--MaryJ-->

    <add key="KoreSecurityId" value="91e6149d2fab8bf5ef1d48970456a342460c58b38a3de01e388fcd19858f12ff"></add>
    <!--Banana Company Security-->

    <add key="CompanyId" value="0ceed471e79b07a937c8ca1d769469748dbc2a7958886b31b547cdbd93908538"></add><!--Banana Company-->

    <add key="SellQty" value="3"></add>

  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
