<?xml version="1.0"?>
<configuration>
  <appSettings>

    <!--<add key="BaseURL" value="http://localhost:29400"></add>-->
    <!--Mock-->
    <add key="BaseURL" value="http://134.209.125.58:3000"></add>
    <!--KCX-->
    <!--<add key="BaseURL" value="http://70.37.85.42:29400"></add>-->


    <add key="KoreATSId" value="556704e4719448883c9d3b5334a142394b8bb01314fc52a903341ece76eec509"></add>


    <add key="KoreSellerShareholderId" value="72dd2c49cd8562dcd3bbd07057881636541c342ee5799665de910f2f5c6d17f7"></add>
    <!--J. Perez-->
    
    
    <add key="KoreBuyerShareholderId" value="3cce0c5facd798adef0182c2e5d5149663e0f14c8dfc759554c50d0aaf1b4e84"></add>
    <!--JohnQ-->

  
    <add key="KoreSecurityId" value="f8ce5b0d60a944b523ad166225e03a68f9bb86d1c5b30a67a8dbebf54ee8c24c"></add>
    <!--??? Company Security-->

    <add key="CompanyId" value="7da45fef1e493d1db276bd68e567fc85b2985e6be57b38108e9f6c748e986473"></add><!--Banana Company-->

    <add key="SellQty" value="5"></add>

  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
