<?xml version="1.0"?>
<configuration>
  <appSettings>

    <!--<add key="BaseURL" value="http://localhost:29400"></add>-->
    <!--Mock-->
    <add key="BaseURL" value="http://3.210.205.44:3001"></add>
    <!--KCX-->
    <add key="User" value="admin"/>
    <add key="Password" value="7nA9Bj7NaeND"/>
    <!--KCX-->
    <!--<add key="BaseURL" value="http://70.37.85.42:29400"></add>-->


    <add key="KoreATSId" value="8fab7d19069296b69d3e9f32301efc323ffb796955d9cded5dc7ea88eb2324d2"></add>


    <add key="KoreSellerShareholderId" value="1012852f9835dbb1aba257aee96541bd535cd002dd5de93051d4e8197efce34c"></add>
    <!--J. Perez-->
    
    
    <add key="KoreBuyerShareholderId" value="xxx"></add>
    <!--JohnQ-->

  
    <add key="KoreSecurityId" value="96d32ead9d129280432293dbe8a364a7fbb7980a91ad1b6df0e8907f126b7a61"></add>
    <!--??? Company Security-->

    <add key="CompanyId" value="7da45fef1e493d1db276bd68e567fc85b2985e6be57b38108e9f6c748e986473"></add><!--Banana Company-->

    <add key="SellQty" value="5"></add>

  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
