<?xml version="1.0"?>
<configuration>
  
   <appSettings>
     <!--RSA-->
     <!--<add key="PrivateKeyXmlFile" value="C:\Users\Compumar\Dropbox\ANNs IT y Trabajos\Seeking Bias\Clientes\TradeHelm\Clientes\Rialto\Test\KCX\keys\priv_key.xml"></add>
     <add key="PrivateKeyPemFile" value="C:\Users\Compumar\Dropbox\ANNs IT y Trabajos\Seeking Bias\Clientes\TradeHelm\Clientes\Rialto\Test\KCX\keys\priv_key_4096.xml"></add>
     <add key="PublicKeyPemFile" value="C:\Users\Compumar\Dropbox\ANNs IT y Trabajos\Seeking Bias\Clientes\TradeHelm\Clientes\Rialto\Test\KCX\keys\pub_key_4096.pem"></add>
     <add key="PublicKeyXmlFile" value="C:\Users\Compumar\Dropbox\ANNs IT y Trabajos\Seeking Bias\Clientes\TradeHelm\Clientes\Rialto\Test\KCX\keys\pub_key.xml"></add>
     <add key="EncryptedFile" value="C:\Users\Compumar\Dropbox\ANNs IT y Trabajos\Seeking Bias\Clientes\TradeHelm\Clientes\Rialto\Test\KCX\keys\encrypted0910.txt"></add>-->


     <add key="PrivateKeyXmlFile" value=".\keys\Rialto\priv_key.xml"></add>
     <add key="PrivateKeyPemFile" value=".\keys\Rialto\priv_key_4096.pem"></add>
     <add key="PublicKeyPemFile" value=".\keys\Rialto\pub_key_4096.pem"></add>
     <add key="PublicKeyXmlFile" value=".\keys\Rialto\pub_key.xml"></add>
     <!--<add key="EncryptedFile" value="C:\Users\Compumar\Dropbox\ANNs IT y Trabajos\Seeking Bias\Clientes\TradeHelm\Clientes\Rialto\Test\KCX\keys\encrypted_RSA_4096_private.txt"></add>-->
     <add key="EncryptedFile" value="C:\Users\Compumar\Dropbox\ANNs IT y Trabajos\Seeking Bias\Clientes\TradeHelm\Clientes\Rialto\Test\KCX\keys\encrypted_RSA_4096_public.txt"></add>

     <!--<add key="EncryptedFile" value="C:\Users\Compumar\Dropbox\ANNs IT y Trabajos\Seeking Bias\Clientes\TradeHelm\Clientes\Rialto\Test\KCX\keys\enc_iv.txt"></add>-->

     
     <!--AES-->
     <add key="AESKeyandIV" value="C:\Users\Compumar\Dropbox\ANNs IT y Trabajos\Seeking Bias\Clientes\TradeHelm\Clientes\Rialto\Test\KCX\keys\AESKey.txt"></add>
     <add key="PDToDecrypt" value="UxZO5Re/E4ItFikToAN/mmvZOfwQNVfIcALcSVpNnZeOftw23nl8f9Bhal0+yTNg/jiWGoef4CKJ56eUndFZ0xYU01+44r9eBRwZKdS9zeB0+sdr91RhGENXJyS4OzkUWPMQ5QtPcZZOKtII5bwP44V2eMsYB99YqjLjgq39yPAQ52B+xMIzP34qrzwFFVUDFkkqiQ4wAJTLAZ1Qlm7aHRJqlud4fOSMUBbgaszQj3Sxga8WXrPDCj7QE5098b4qzJZUX31QrVw4UVdHu20zlTZs3ZLyY7+iXS+IXZALy9o6D8GCqa4PX6SIPniuQn7r5VKPNs2xLO9FLAypUZZDgA7fZy/NMkk3zMtV2401rj+0Jgyumm/JD3kARjyRBu24uXuEzOKjHAKngD3YlWqBFIcJZ6vOs3NX4Y/dAUpO4F5OY90iRdcv8NOIpFAyCOhO9S1eMQ6EsclU13mjC0dG1KPwxuwZEC0RK9NcwC3Rj/EZQg1H+NIZipBEQ8hgHKOzlYDv7hiMI/kmB2LitghvHyIU4nPsOGpxLqZcOuu+kzvSZuxgHy6MZKeXBC6Bl7f9e58hdXG3mkOV5+RSFgx6ba+v2XpukaWDK/dcwcc10K45VzHpGjRNkQPV2TIzH6nG"></add>
     
     <add key="TextToEncrypt" value="TestTestRialto"></add>
     <add key="Mode" value="5"></add><!--1-Generate Key Pair, 2=Decrypt RSA 1024 bits, 3=Decrypt AES,4=RSA 4096 bits w/Private,5=RSA 4096 bits w/Public-->


  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
