<?xml version="1.0"?>
<configuration>
  
   <appSettings>
     <add key="PrivateKeyFile" value="C:\Users\Compumar\Dropbox\ANNs IT y Trabajos\Seeking Bias\Clientes\TradeHelm\Clientes\Rialto\Test\KCX\keys\priv_key.xml"></add>
     <add key="PublicKeyFile" value="C:\Users\Compumar\Dropbox\ANNs IT y Trabajos\Seeking Bias\Clientes\TradeHelm\Clientes\Rialto\Test\KCX\keys\pub_key.pem"></add>
     <add key="EncryptedFile" value="C:\Users\Compumar\Dropbox\ANNs IT y Trabajos\Seeking Bias\Clientes\TradeHelm\Clientes\Rialto\Test\KCX\keys\encrypted.txt"></add>
     <add key="TextToEncrypt" value="TestTestRialto"></add>
     <add key="Mode" value="2"></add>


  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
