<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <appSettings>
     
    <!--<add key="BaseURL" value="http://localhost:29400"></add>--><!--Mock-->
     <add key="BaseURL" value="http://134.209.125.58:3000"></add> <!--KCX-->


     <add key="KoreATSId" value="ae55cb322ceb3afee59d3ddc8387c7fd5f9be23aff261469252f270b08a93977"></add>
     <add key="KoreShareholderId" value="3cce0c5facd798adef0182c2e5d5149663e0f14c8dfc759554c50d0aaf1b4e84"></add>
     <add key="KoreSecurityId" value="91e6149d2fab8bf5ef1d48970456a342460c58b38a3de01e388fcd19858f12ff"></add>


     <add key="SellQty" value="50"></add>

  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>