<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <appSettings>
     
     <!--<add key="BaseURL" value="http://localhost:29400"></add>--><!--Mock-->
     <add key="BaseURL" value="http://3.210.205.44:3001"></add><!--KCX-->
     <!--<add key="BaseURL" value="http://70.37.85.42:29400"></add>-->


    <add key="KoreATSId" value="8fab7d19069296b69d3e9f32301efc323ffb796955d9cded5dc7ea88eb2324d2"></add>

     <add key="KoreShareholderId" value="1012852f9835dbb1aba257aee96541bd535cd002dd5de93051d4e8197efce34c"></add> <!--Gary Miller-->
     

     <add key="KoreSecurityId" value="96d32ead9d129280432293dbe8a364a7fbb7980a91ad1b6df0e8907f126b7a61"></add><!--Ice Chain Company stocks-->
     <!--Company Id: aaa5eac55fe1ac81541fced218a4246dc3ec0886b3635eaf1f01ebcb6d1e3cce-->

     <add key="SellQty" value="1"></add>

  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>