<?xml version="1.0"?>
<configuration>
  <appSettings>

    <add key="BaseURL" value="http://localhost:28900"></add>


    <add key="KoreChainIdToOnboard" value="72dd2c49cd8562dcd3bbd07057881636541c342ee5799665de910f2f5c6d17f7"></add><!--Gary Miller-->

    <add key="CompanyKoreChainId" value="7da45fef1e493d1db276bd68e567fc85b2985e6be57b38108e9f6c748e986473"></add> <!--Ice Chain Kore Chain Id-->

    <!--SCENARIO 5-->
    <!--<add key="KoreChainIdToOnboard" value="add282c84aee684115bc4bc0cfb6f0a413b02babdf40e946d32d3d0c69bb8a5a"></add>--> <!--David Smith-->

    <add key="SendKeyAndIV" value="true"></add>

    <add key="SendKeyAndIVEncrypted" value="false"></add>

    <add key="DecKeyPath" value="dec_key.txt"></add>
    <add key="DecIVPath" value="dec_iv.txt"></add>


    <add key="EncKeyPath" value="enc_key.txt"></add>
    <add key="EncIVPath" value="enc_iv.txt"></add>

    <add key="EncryptionMode" value="2"></add><!--1=1024 bits, 2=4096 bits-->

    <!--
    <add key="4096Enc_Part1" value="N7lOniHkD9H+jp5iVBPNSXVmMkLVbVTOadhQQ1yPpKFZLBBkmXlSYjc5M2xtwefu2cUTlaB98rwsY/SakronAJpg4dEV3E49aezSkrORZdO7q/DUvj7VwEtKrnal9b+3yr0XDjmgrkNb0+QhuULRYBkk9a1BS55ZHUyuoIu+oB/IKsdvaH1vVEGly23hT3UEOMFEs0PjxbMDflJd91MYiemfP2TiptOmz0bBZuBpp5sp2xwuTO65jUlTnj7Z41C76GB3DbjJZXB1bQev4Pzr9KuiW8uhAH6HHQYj5KM/Advm4nB6tPcyhQ8+b6QBKZFQ0UUeuXSGMO4W2qbdRBpSbOLgc7BA23YoEmC4JxQvS9XVnLnPOv2qMHK/vqOni9LEvSslLsZ+VbaYJIo7qvxrCUwZHy63Ru2JsBpGlAWLCATMTf5rR9BKT6wvFakSSeeAmr9OVU5tmGTGJnQzV0LPxrqITbjGax/1foJrAHN3csdt0kP26k9fZvVRh8E0by8Sg1loqQL3lzZNYotE5siK1mWwnRCd//g3/F4l4dfAtS7FCYcuvaJ3q+wXDoslNuH70ZYIb3bcq7y2HQs6jbDG3n14yWjT4MhJQksIg09ufhHU9DEQEgwGoivZtJurf4BlxQ6IS3JeZ52fPbhE3HdX7U8uNuJRyTwo8RQpyUpBOtU="></add>
    <add key="4096Enc_Part2" value="e76RzlI/oht/+/6PNKzjxQfxR+12vFy7WCg5fcITfqjxZaUUrRdGaxjJXJr96SGvwc+/lg7e50BViGT4Xqk8oOLUPHmWZkVyxtGbQoycZ2tikJ3vnB5WNuIy+bvJBg58t6GdL6NE8j1Ql0nqGIV/ZHTvtE3HEoehZMjn7fDYj4+3GHdLxHiqtFbOhhKuHnVh/kDr1dUyBDUW0De/TU3dUnpNFODLIBYVWOyBn4oyguDoQzpU91cuHLoVvkyVsTx2E2OYtbVlgtdxHOk6+kSJkpA9/r4vhaYlwXh6zczLfI4aVqnQsVgWvkuoXIbFi5s4wgMU0CBAtGGPh+kV82hwA6gPbzPfIlXII8Z0bSLOgmDDz4ODXM+je3iGtKQW+ufnCNIZkFDShcQqOGj/Hi/pww8ThRtAXlXzgCbLrJdTXe1B7cV2PweIeCu+PITZ/h38DfM2HqQI9qsv+cMFzWaU+kGQpuH52J1nKfWUdbjglnWGWHSJR3MNOY2l1dj3QaZkcHn7yhtcSY9r2AK2/p3UZmZxeZ84ZSm1yBVl1iafabI6sakmNEcy3ZQ/2U8QA50V3SBZ+xC9lgwTuKdKq9BPPbuhjXwIuz4b7cEAwmZKuBUNsvmyscgnMeIDhu2YDgu/kdgywFD1J/9tVzdthGYySiRQFP9zEv6i9P9TMIMEqEw="></add>
    -->
    <add key="4096Enc_Part1" value="KEVrT3mKuP6VA2mpnoFBlHb9bc4z8z2TWmE1Z+kjfywRt+ld292LlGFggdFGsWkb1V8dt0YL6KLdi4yFC6QEftDT/kH+xf4RZ7kkoeKY7WHZLlq74yO/X4a0VFe+qZ+/lHjH7ntBJZm0PmQxJlaIUXjd80L7AyA0Dya/uDDn0017i7WoY8Xd5GC6MdosIR9u54FLUFSRC7f29x7TLAHIweE6qRusn3QjXzjn74kW+pEalN0zVBB8EXg3OcoW0rUGLt55l3xpuHLqsQ9SY1DuX8NyRsjWWda2J41IdB8FdF6poHBUyl6K6iot6cR7iTYmCpnksSbrZLOrPtQ2ldfIY47t6XR/w55Q6nhoORecSFfhgnslEAeo6qRYQriQjhy/n/nh0/c4Z113CZTTeaRKJcxUI69xAVC+cL8QTcU8adsp1QqWuMaV8azfMXNWTktt1blypfibqjMgF6gJG/1qps8zvALSqWrXK2MxPw4acPRS6yOsZVVlw4OTyWf9c48+9BE6pzsbVAWAZ8JJJqXggh+KPilOUz7MpQiBq9CEmbI15rP8ansKRW3ziNyTRBZX7yKIiWnEo5m3IoHwXg2tB2HJP0SgMt61Zircl/dgmWWkjhtorp/7x69g4kHzLvDplgM7NLFeLJHRptWgaktptd8vbjdNdU2AgGqNoPXmyAk="></add>
    <add key="4096Enc_Part2" value="J2TSSh+4BkzAPV7NH10Y6cbsRy6qEUx3Cv9/OC3DNklcFGKQpi79gBSkoCIaLkby9rZS0a5aAVIIv2FLIlFtxm1fBA0Vo2YqApsLUCoRc4mv2IbJVB4qbyxhB1dl9X5NYq9DWOYESnjYFqGBM4MpwWNOSPrSV8ctVr44Wg4fVr8OfV9RKbFAOjN+IOOCmv53JYxU1Y56CkECFhGM1rqJdhi8HSlt58rGFqzIdZnCBZeoPIp2Qpe3KEHBz6YE71Hu0Nqg5BQ9OIDC9tLbNs8wEwEkSokWPiGzHf/hUsbEebIl+gu58PLUMsbGuqUDyNuljJ2PzbEjHuRsxdk3pQS2m03jtR5u36cUQopzn1ea5tWgYIU2pal2jKiJ26AuXIg1b7NTnvqDuZ6enpuPSFyoQ8w44a5lc8pXvLekKAjBwYcJoCRyoJbjMejXo4Rq8HAiUXW/pK8KWDP8cVUSbe0soPu9UqZX+YzTwGXGrjMt0wEy2lcKhM0OZZXcYxcakcNGb8phuyGA7JodPuDnINvOnSzio8mO1R4/YreKJwpx9FGhOssQRMslnoOSXmYwOLJrf8Cwrqmxn3Icpdx0S9mXRaJUCBRVm+VnrLzk6twkrkMp1gyU+/w7RyUkMFgkEEWUe123j92OckDz7qZSWb2w3R/4LizKj1GZCx5QX5jC/Zs="></add>

  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
</configuration>
