<?xml version="1.0"?>
<configuration>
  <appSettings>

    <add key="BaseURL" value="http://70.37.85.42:28900"></add>


    <add key="KoreChainIdToOnboard" value="72dd2c49cd8562dcd3bbd07057881636541c342ee5799665de910f2f5c6d17f7"></add><!--Gary Miller-->

    <add key="CompanyKoreChainId" value="7da45fef1e493d1db276bd68e567fc85b2985e6be57b38108e9f6c748e986473"></add> <!--Ice Chain Kore Chain Id-->

    <!--SCENARIO 5-->
    <!--<add key="KoreChainIdToOnboard" value="add282c84aee684115bc4bc0cfb6f0a413b02babdf40e946d32d3d0c69bb8a5a"></add>--> <!--David Smith-->

    <add key="SendKeyAndIV" value="true"></add>

    <add key="SendKeyAndIVEncrypted" value="false"></add>

    <add key="DecKeyPath" value="dec_key.txt"></add>
    <add key="DecIVPath" value="dec_iv.txt"></add>


    <add key="EncKeyPath" value="enc_key.txt"></add>
    <add key="EncIVPath" value="enc_iv.txt"></add>

    <add key="EncryptionMode" value="2"></add><!--1=1024 bits, 2=4096 bits-->

    <add key="4096Enc_Part1" value="N7lOniHkD9H+jp5iVBPNSXVmMkLVbVTOadhQQ1yPpKFZLBBkmXlSYjc5M2xtwefu2cUTlaB98rwsY/SakronAJpg4dEV3E49aezSkrORZdO7q/DUvj7VwEtKrnal9b+3yr0XDjmgrkNb0+QhuULRYBkk9a1BS55ZHUyuoIu+oB/IKsdvaH1vVEGly23hT3UEOMFEs0PjxbMDflJd91MYiemfP2TiptOmz0bBZuBpp5sp2xwuTO65jUlTnj7Z41C76GB3DbjJZXB1bQev4Pzr9KuiW8uhAH6HHQYj5KM/Advm4nB6tPcyhQ8+b6QBKZFQ0UUeuXSGMO4W2qbdRBpSbOLgc7BA23YoEmC4JxQvS9XVnLnPOv2qMHK/vqOni9LEvSslLsZ+VbaYJIo7qvxrCUwZHy63Ru2JsBpGlAWLCATMTf5rR9BKT6wvFakSSeeAmr9OVU5tmGTGJnQzV0LPxrqITbjGax/1foJrAHN3csdt0kP26k9fZvVRh8E0by8Sg1loqQL3lzZNYotE5siK1mWwnRCd//g3/F4l4dfAtS7FCYcuvaJ3q+wXDoslNuH70ZYIb3bcq7y2HQs6jbDG3n14yWjT4MhJQksIg09ufhHU9DEQEgwGoivZtJurf4BlxQ6IS3JeZ52fPbhE3HdX7U8uNuJRyTwo8RQpyUpBOtU="></add>
    <add key="4096Enc_Part2" value="e76RzlI/oht/+/6PNKzjxQfxR+12vFy7WCg5fcITfqjxZaUUrRdGaxjJXJr96SGvwc+/lg7e50BViGT4Xqk8oOLUPHmWZkVyxtGbQoycZ2tikJ3vnB5WNuIy+bvJBg58t6GdL6NE8j1Ql0nqGIV/ZHTvtE3HEoehZMjn7fDYj4+3GHdLxHiqtFbOhhKuHnVh/kDr1dUyBDUW0De/TU3dUnpNFODLIBYVWOyBn4oyguDoQzpU91cuHLoVvkyVsTx2E2OYtbVlgtdxHOk6+kSJkpA9/r4vhaYlwXh6zczLfI4aVqnQsVgWvkuoXIbFi5s4wgMU0CBAtGGPh+kV82hwA6gPbzPfIlXII8Z0bSLOgmDDz4ODXM+je3iGtKQW+ufnCNIZkFDShcQqOGj/Hi/pww8ThRtAXlXzgCbLrJdTXe1B7cV2PweIeCu+PITZ/h38DfM2HqQI9qsv+cMFzWaU+kGQpuH52J1nKfWUdbjglnWGWHSJR3MNOY2l1dj3QaZkcHn7yhtcSY9r2AK2/p3UZmZxeZ84ZSm1yBVl1iafabI6sakmNEcy3ZQ/2U8QA50V3SBZ+xC9lgwTuKdKq9BPPbuhjXwIuz4b7cEAwmZKuBUNsvmyscgnMeIDhu2YDgu/kdgywFD1J/9tVzdthGYySiRQFP9zEv6i9P9TMIMEqEw="></add>
    
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
</configuration>
