<?xml version="1.0"?>
<configuration>
  <appSettings>

    <add key="BaseURL" value="http://localhost:28900"></add>

    
    
    <!--SCENARIO 5-->
    <add key="KoreChainIdToOnboard" value="add282c84aee684115bc4bc0cfb6f0a413b02babdf40e946d32d3d0c69bb8a5a"></add>
    
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
</configuration>
