<?xml version="1.0"?>
<configuration>
  <appSettings>


    <!-- <add key="AESSKeyEncrypted" value="false"></add> -->
    <!--<add key="KCXEncryptedKeyAndIVPath" value="./KCXKeys/EncAESKey.txt"></add>
    <add key="KCXDecryptedKeyAndIVPath" value="./KCXKeys/DecAESKey.txt"></add>-->

    <add key="RSAPrivateKeyEncrypted" value="false"></add>
    <add key="KCXEncryptedRSAPrivateKeyPath" value="./KCXKeys/EncRSAPrivateKey_4096.pem"></add>
    <add key="KCXDeccryptedRSAPrivateKeyPath" value="./KCXKeys/DecRSAPrivateKey_4096.pem"></add>
    <add key="KCXPublicKeyPath" value="./KCXKeys/KCXPublicKey.pem"></add>

    <!--STAGING-->
    <add key="TradingDBConnectionString" value="Server=staging-secondary-trading-cluster.cluster-ro-chhjnxvrvlxy.us-east-1.rds.amazonaws.com;Database=secondarytrading;Uid=secondarytrading;Pwd=WgDWB4K2nJLz3CB;"/>
    <add key="OrdersDBConnectionString" value="Server=staging-secondary-order-cluster.cluster-chhjnxvrvlxy.us-east-1.rds.amazonaws.com;Database=secondaryorder;Uid=secondaryorder;Pwd=fu2Frcdwcn3CwSs;"/>

    <add key="KCXName" value="KoreConX"></add>

    <add key="SolidusURL" value=""></add>

    <add key="OnboardingServiceURL" value="http://localhost:28900/"></add>

    <add key="DebugLevel" value="INFO"></add>
    <!--INFO,DEBUG-->

  </appSettings>
   
</configuration>
